 body{
    background: rgb(71, 71, 71);
}
img{
    height: 50px;
    weight: 50px;
}
td{      
    padding-left: 70px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: bisque;
}
select{
    font-size: 30px;
    font-weight: bold;
} 
button{
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    background-color: bisque; 
}